name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    container:
      image: ghcr.io/sitzriese89/rust-with-ci-dep:latest
      credentials:
        username: ${{ secrets.CR_USER }}
        password: ${{ secrets.CR_TOKEN }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Code Coverage
        run: cargo tarpaulin --ignore-tests
      - name: Linting
        run: cargo clippy -- -D warnings
      - name: Format
        run: cargo fmt -- --check
      - name: Vulnerabilities
        run: cargo audit
